html,body{
    width:100%;
    overflow-x:hidden;
}
@keyframes bluehairgirl{
    0%{
        transform: translate(0, 10px);
    }
    50%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(0, 10px);
    }
}
@media screen and (max-width: 375px) {
    *{
        color: #263C3C;
        font-size: 14px;
        overflow-x: hidden;
    }
    nav > ul{
        display: none;
    }
    header > h1 {
        text-align: center;
        margin-top: 23px;
        margin-bottom: 22px;
    }


    /* section1 */

    section{
        overflow:visible;
    }
    h2{
        overflow:visible;
    }
    #section1{
        text-align: center;
        padding-bottom: 77px;
    }
    .article1{
        padding-top: 59px;
    }
    .article1 > h1{
        padding-bottom: 36px;
    }
    .article1 > h2{
        padding-bottom: 42px;
    }
    .article1 > img{
        padding-bottom: 36px;
        animation: bluehairgirl infinite linear 5s ;
    }

    #section1 > p{
        font-family: 'GmarketSansLight';
        color: #B4B4B4;
        font-size: 11px;
        line-height: 21px;
        padding-top: 25px;
    }
    article > h2{
        font-family: 'GmarketSansMedium';
        font-size: 16px;
        color: #263C3C;
    }
    .cha_shadow{
        width: 119px;
        height: 11px;
        border-radius: 1000%;
        background-color: #DDDDDD;
        margin: 0 auto;
    }
    .line{
        width: 100%;
        height: 0.5px;
        background-color: #D6D6D6;
        margin: 0;
        padding: 0;
    }
    

    /* section2 */

    #article2{
        display: flex;
    }
    #section2 > h2{
        font-size: 30px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 60px;
    }
    span{
        color: #2BCBCA;
    }
    
    .childu{
        transform: translate(109px,-203px);
    }
    .article2Div{
        height: 216px;
        overflow-y: hidden;
    }
    .article2 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 50px;
        padding-left: 11.2%;
        padding-bottom: 30px;
    }
    .article2 > dl > dd{
        width: 350px;
        height: 131px;
        overflow: hidden;
    }
    .article2 > dl > dd > h4{
        display: none;
    }
    .article2 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 11.2%;
        font-weight: normal;
        line-height: 27px;
    }


    /* section3 */

    #section3{
        padding-top: 50px;
    }
    #section3 > h2{
        font-size: 30px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 30px;
        width: 270px;
    }
    .article3 > .imgs{
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
    }
    .phoneGirl{
        padding-top: 24px;
        padding-left: 11.2%;
        flex-wrap: wrap;
        display: flex;
    }
    .phoneGirl > .plants{
        transform: translate(180px,0);
        width: 130.19px;
        height: 119.27px;
        padding-top: 146px;
        position: absolute;
    }
    .article3 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 50px;
        padding-left: 11.2%;
        padding-bottom: 30px;
    }
    .article3 > dl > dd{
        width: 320px;
        
    }
    .article3 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 14%;
        font-weight: normal;
        line-height: 27px;
    }

    /* section4 */

    #section4{
        padding-top: 100px;
        text-align: center;
        padding-bottom: 140px;
    }
    .article4 > img{
        padding-bottom: 21px;
    }
    .article4 > h2{
        font-size: 16px;
        padding-bottom: 36px;
    }

    .video{
        width: 375px;
        height: 219px;
        background-color: rgb(0, 255, 234);
    }

    /* section5 */

    .markup-img{
        position: relative; left: 11.2%;
        width: 229px;
        height: 482.44px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img >.Question-img{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img > .Question-img > img{
        position: relative; width: 100%;
    }
    .markup-img2{
        position: relative; left: 20.8%;
        width: 165.72px;
        height: 349.12px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(20px, 100px);
        
    }
    .phones{
        display: flex;
    }
    .markup-img2 >.Question-img2{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img2 > .Question-img2 > img{
        position: relative; width: 100%;
    }
    .article5{
        overflow: visible;
        padding-top: 50px;
    }
    .article5 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 50px;
        padding-left: 11.2%;
        padding-bottom: 30px;
        line-height: 38px;
    }
    .article5 > dl > dd{
        width: 310px;
    
    }
    .article5 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 14%;
        font-weight: normal;
        line-height: 27px;
    }
    #section5> .section5_1 >h2{
        font-size: 30px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 86px;
    }
    .section5_1 > img{
        position: absolute;
        margin-left: 250px;
        top: -60px;
    }
    .section5_1{
        position: relative;
        overflow:visible;
    }
}
@media screen and (min-width : 376px) and (max-width : 406px){
    *{
        color: #263C3C;
        font-size: 14px;
        overflow-x: hidden;
    }
    nav > ul{
        display: none;
    }
    header > h1 {
        text-align: center;
        margin-top: 23px;
        margin-bottom: 22px;
    }


    /* section1 */

    section{
        overflow:visible;
    }
    h2{
        overflow:visible;
    }
    #section1{
        text-align: center;
        padding-bottom: 77px;
    }
    .article1{
        padding-top: 59px;
    }
    .article1 > h1{
        padding-bottom: 36px;
    }
    .article1 > h2{
        padding-bottom: 42px;
    }
    .article1 > img{
        padding-bottom: 36px;
        animation: bluehairgirl infinite linear 5s ;
    }

    #section1 > p{
        font-family: 'GmarketSansLight';
        color: #B4B4B4;
        font-size: 11px;
        line-height: 21px;
        padding-top: 25px;
    }
    article > h2{
        font-family: 'GmarketSansMedium';
        font-size: 16px;
        color: #263C3C;
    }
    .cha_shadow{
        width: 119px;
        height: 11px;
        border-radius: 1000%;
        background-color: #DDDDDD;
        margin: 0 auto;
    }
    .line{
        width: 100%;
        height: 0.5px;
        background-color: #D6D6D6;
        margin: 0;
        padding: 0;
    }
    

    /* section2 */

    #article2{
        display: flex;
    }
    #section2 > h2{
        font-size: 30px;
        font-family: 'GmarketSansMedium';
        line-height: 40px;
        padding-left: 11.2%;
        padding-bottom: 70px;
    }
    span{
        color: #2BCBCA;
    }
    
    .childu{
        transform: translate(109px,-203px);
    }
    .article2Div{
        height: 216px;
        overflow-y: hidden;
    }
    .article2 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 40px;
        padding-left: 11.2%;
        padding-bottom: 20px;
    }
    .article2 > dl > dd{
        width: 350px;
        height: 131px;
        overflow: hidden;
    }
    .article2 > dl > dd > h4{
        display: none;
    }
    .article2 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 11.2%;
        font-weight: normal;
        line-height: 27px;
    }


    /* section3 */

    #section3{
        padding-top: 171px;
    }
    #section3 > h2{
        font-size: 30px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 60px;
        width: 250px;
    }
    .article3 > .imgs{
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
    }
    .phoneGirl{
        padding-top: 24px;
        padding-left: 11.2%;
        flex-wrap: wrap;
        display: flex;
    }
    .phoneGirl > .plants{
        transform: translate(180px,0);
        width: 130.19px;
        height: 119.27px;
        padding-top: 146px;
        position: absolute;
    }
    .article3 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 40px;
        padding-left: 11.2%;
        padding-bottom: 20px;
    }
    .article3 > dl > dd{
        width: 310px;
        height: 131px;
    }
    .article3 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 11.2%;
        font-weight: normal;
        line-height: 27px;
    }

    /* section4 */

    #section4{
        padding-top: 100px;
        text-align: center;
        padding-bottom: 100px;
    }
    .article4 > img{
        padding-bottom: 21px;
    }
    .article4 > h2{
        font-size: 16px;
        padding-bottom: 36px;
    }

    .video{
        width: 100vw;
        height: 219px;
        background-color: hotpink;
    }

    /* section5 */

    .markup-img{
        position: relative; left: 11.2%;
        width: 229px;
        height: 482.44px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img >.Question-img{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img > .Question-img > img{
        position: relative; width: 100%;
    }
    .markup-img2{
        position: relative; left: 20.8%;
        width: 165.72px;
        height: 349.12px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(20px, 100px);
        
    }
    .phones{
        display: flex;
    }
    .markup-img2 >.Question-img2{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img2 > .Question-img2 > img{
        position: relative; width: 100%;
    }
    .article5{
        overflow: visible;
        padding-top: 50px;
    }
    .article5 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 40px;
        padding-left: 11.2%;
        padding-bottom: 20px;
        line-height: 38px;
    }
    .article5 > dl > dd{
        width: 310px;
        height: 131px;
    }
    .article5 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 11.2%;
        font-weight: normal;
        line-height: 27px;
    }
    #section5> .section5_1 >h2{
        font-size: 28px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 86px;
    }
    .section5_1 > img{
        position: absolute;
        margin-left: 250px;
        top: -60px;
    }
    .section5_1{
        position: relative;
        overflow:visible;
    }
}
@media screen and (min-width : 407px) and (max-width : 497px){
    *{
        color: #263C3C;
        font-size: 14px;
        overflow-x: hidden;
    }
    nav > ul{
        display: none;
    }
    header > h1 {
        text-align: center;
        margin-top: 23px;
        margin-bottom: 22px;
    }


    /* section1 */

    section{
        overflow:visible;
    }
    h2{
        overflow:visible;
    }
    #section1{
        text-align: center;
        padding-bottom: 77px;
    }
    .article1{
        padding-top: 59px;
    }
    .article1 > h1{
        padding-bottom: 36px;
    }
    .article1 > h2{
        padding-bottom: 42px;
    }
    .article1 > img{
        padding-bottom: 36px;
        animation: bluehairgirl infinite linear 5s ;
    }

    #section1 > p{
        font-family: 'GmarketSansLight';
        color: #B4B4B4;
        font-size: 11px;
        line-height: 21px;
        padding-top: 25px;
    }
    article > h2{
        font-family: 'GmarketSansMedium';
        font-size: 16px;
        color: #263C3C;
    }
    .cha_shadow{
        width: 119px;
        height: 11px;
        border-radius: 1000%;
        background-color: #DDDDDD;
        margin: 0 auto;
    }
    .line{
        width: 100%;
        height: 0.5px;
        background-color: #D6D6D6;
        margin: 0;
        padding: 0;
    }
    

    /* section2 */

    #article2{
        display: flex;
    }
    #section2 > h2{
        font-size: 30px;
        font-family: 'GmarketSansMedium';
        line-height: 40px;
        padding-left: 11.2%;
        padding-bottom: 40px;
    }
    span{
        color: #2BCBCA;
    }
    
    .childu{
        position: absolute;
        transform: translate(-200px,0);
    }
    .building{
        transform: translate(100px,0);
    }
    .article2Div{
        height: 216px;
        overflow-y: hidden;
    }
    .article2 > dl{
        display: inline-block;
        /* padding-left: 11.2%; */
    }
    .article2 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 40px;
        padding-left: 11.2%;
        padding-bottom: 30px;
    }
    .article2 > dl > dd{
        width: 90%;
        height: 131px;
        overflow: hidden;
    }
    .article2 > dl > dd > h4{
        display: none;
    }
    .article2 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 11.2%;
        font-weight: normal;
        line-height: 27px;
    }


    /* section3 */

    #section3{
        padding-top: 90px;
    }
    #section3 > h2{
        font-size: 28px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 45px;
        width: 250px;
    }
    .article3 > .imgs{
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
    }
    .phoneGirl{
        /* padding-top: 24px; */
        padding-left: 30%;
    }
    .phoneGirl > .plants{
        transform: translate(-30px,0);
        width: 110.19px;
        height: 99.27px;
        padding-top: 146px;
        position: absolute;
    }
    /* .article3 > dl{
        padding-left: 11.2%;
    } */
    .article3 > dl > dt{
        padding-left: 11.2%;
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .article3 > dl > dd{
        /* width: 310px; */
        height: 131px;
        width: 77%;
        padding-left: 11.2%;
    }
    .article3 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 27px;
    }

    /* section4 */

    #section4{
        padding-top: 80px;
        text-align: center;
        padding-bottom: 100px;
    }
    .article4 > img{
        padding-bottom: 21px;
    }
    .article4 > h2{
        font-size: 16px;
        padding-bottom: 36px;
    }

    .video{
        width: 100%;
        height: 219px;
        background-color: hotpink;
    }

    /* section5 */
    #Template-2{
        display:none;
    }
    .markup-img{
        position: relative; left: 11.2%;
        width: 229px;
        height: 482.44px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img >.Question-img{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img > .Question-img > img{
        position: relative; width: 100%;
    }
    .markup-img2{
        position: relative; left: 20.8%;
        width: 165.72px;
        height: 349.12px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(20px, 100px);
        
    }
    .phones{
        display: flex;
    }
    .markup-img2 >.Question-img2{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img2 > .Question-img2 > img{
        position: relative; width: 100%;
    }
    .article5{
        overflow: visible;
        padding-top: 80px;
    }
    .article5 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 68px;
        padding-left: 11.2%;
        padding-bottom: 40px;
        line-height: 38px;
    }
    .article5 > dl > dd{
        width: 380px;
        height: 131px;
        padding-left: 11.2%;
    }
    .article5 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 27px;
    }
    #section5> .section5_1 >h2{
        font-size: 28px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 86px;
    }
    .section5_1 > img{
        position: absolute;
        margin-left: 250px;
        top: -60px;
        width: 50%;
    }
    .section5_1{
        position: relative;
        overflow:visible;
    }
}
@media screen and (min-width : 498px) and (max-width : 624px){
    *{
        color: #263C3C;
        font-size: 14px;
        overflow-x: hidden;
    }
    nav > ul{
        display: none;
    }
    header > h1 {
        text-align: center;
        margin-top: 23px;
        margin-bottom: 22px;
    }


    /* section1 */

    section{
        overflow:visible;
    }
    h2{
        overflow:visible;
    }
    #section1{
        text-align: center;
        padding-bottom: 77px;
    }
    .article1{
        padding-top: 59px;
    }
    .article1 > h1{
        padding-bottom: 36px;
    }
    .article1 > h2{
        padding-bottom: 42px;
    }
    .article1 > img{
        padding-bottom: 36px;
        animation: bluehairgirl infinite linear 5s ;
    }

    #section1 > p{
        font-family: 'GmarketSansLight';
        color: #B4B4B4;
        font-size: 11px;
        line-height: 21px;
        padding-top: 25px;
    }
    article > h2{
        font-family: 'GmarketSansMedium';
        font-size: 16px;
        color: #263C3C;
    }
    .cha_shadow{
        width: 119px;
        height: 11px;
        border-radius: 1000%;
        background-color: #DDDDDD;
        margin: 0 auto;
    }
    .line{
        width: 100%;
        height: 0.5px;
        background-color: #D6D6D6;
        margin: 0;
        padding: 0;
    }
    

    /* section2 */

    #article2{
        display: flex;
    }
    #section2 > h2{
        font-size: 30px;
        font-family: 'GmarketSansMedium';
        line-height: 40px;
        padding-left: 11.2%;
        padding-bottom: 50px;
    }
    span{
        color: #2BCBCA;
    }
    
    .childu{
        position: absolute;
        transform: translate(-120px,0)
    }
    .building{
        transform: translate(100px,0);
    }
    .article2Div{
        height: 216px;
        overflow-y: hidden;
    }
    .article2 > dl{
        display: inline-block;
        /* padding-left: 11.2%; */
    }
    .article2 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 40px;
        padding-left: 11.2%;
        padding-bottom: 20px;
    }
    .article2 > dl > dd{
        width: 90%;
        height: 131px;
        overflow: hidden;
    }
    .article2 > dl > dd > h4{
        display: none;
    }
    .article2 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 11.2%;
        font-weight: normal;
        line-height: 27px;
    }


    /* section3 */

    #section3{
        padding-top: 100px;
    }
    #section3 > h2{
        font-size: 28px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 40px;
        width: 260px;
    }
    .article3 > .imgs{
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
    }
    .phoneGirl{
        /* padding-top: 24px; */
        padding-left: 30%;
    }
    .phoneGirl > .plants{
        /* transform: translate(200px,-119.27px); */
        width: 130.19px;
        height: 119.27px;
        padding-top: 146px;
    }
    /* .article3 > dl{
        padding-left: 11.2%;
    } */
    .article3 > dl > dt{
        padding-left: 11.2%;
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 50px;
        padding-bottom:20px;
    }
    .article3 > dl > dd{
        width: 310px;
        height: 131px;
        width: 80%;
        padding-left: 11.2%;
    }
    .article3 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 27px;
    }

    /* section4 */

    #section4{
        padding-top: 80px;
        text-align: center;
        padding-bottom:100px;
    }
    .article4 > img{
        padding-bottom: 21px;
    }
    .article4 > h2{
        font-size: 16px;
        padding-bottom: 36px;
    }

    .video{
        width: 100%;
        height: 219px;
        background-color: hotpink;
    }

    /* section5 */
    #Template-2{
        display: none;
    }
    .markup-img{
        position: relative; left: 11.2%;
        width: 229px;
        height: 482.44px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img >.Question-img{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img > .Question-img > img{
        position: relative; width: 100%;
    }
    .markup-img2{
        position: relative; left: 20.8%;
        width: 165.72px;
        height: 349.12px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(20px, 100px);
        
    }
    .phones{
        display: flex;
    }
    .markup-img2 >.Question-img2{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img2 > .Question-img2 > img{
        position: relative; width: 100%;
    }
    .article5{
        overflow: visible;
        padding-top: 30px;
    }
    /* .article5 > dl{
        padding-left: 11.2%;
    } */
    .article5 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 68px;
        padding-left: 11.2%;
        padding-bottom: 20px;
        line-height: 38px;
    }
    .article5 > dl > dd{
        width: 400px;
        height: 131px;
        padding-left: 11.2%;
    }
    .article5 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 27px;
    }
    #section5> .section5_1 >h2{
        font-size: 28px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 86px;
    }
    .section5_1 > img{
        position: absolute;
        margin-left: 360px;
        top: -60px;
        width: 50%;
    }
    .section5_1{
        position: relative;
        overflow:visible;
    }
}

@media screen and (min-width : 625px) and (max-width : 699px){

    *{
        color: #263C3C;
        font-size: 14px;
        overflow-x: hidden;
    }
    nav > ul{
        display: none;
    }
    header > h1 {
        text-align: center;
        margin-top: 23px;
        margin-bottom: 22px;
    }


    /* section1 */

    section{
        overflow:visible;
    }
    h2{
        overflow:visible;
    }
    #section1{
        text-align: center;
        padding-bottom: 77px;
    }
    .article1{
        padding-top: 59px;
    }
    .article1 > h1{
        padding-bottom: 36px;
    }
    .article1 > h2{
        padding-bottom: 42px;
    }
    .article1 > img{
        padding-bottom: 36px;
        animation: bluehairgirl infinite linear 5s ;
    }

    #section1 > p{
        font-family: 'GmarketSansLight';
        color: #B4B4B4;
        font-size: 11px;
        line-height: 21px;
        padding-top: 25px;
    }
    article > h2{
        font-family: 'GmarketSansMedium';
        font-size: 16px;
        color: #263C3C;
    }
    .cha_shadow{
        width: 119px;
        height: 11px;
        border-radius: 1000%;
        background-color: #DDDDDD;
        margin: 0 auto;
    }
    .line{
        width: 100%;
        height: 0.5px;
        background-color: #D6D6D6;
        margin: 0;
        padding: 0;
    }
    

    /* section2 */

    #article2{
        display: flex;
    }
    #section2 > h2{
        font-size: 28px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 99px;
    }
    span{
        color: #2BCBCA;
    }
    
    .childu{
        transform: translate(-100px,0);
    }
    .building{
        transform: translate(100px,0);
    }
    .article2Div{
        height: 216px;
        overflow-y: hidden;
    }
    .article2 > dl{
        display: inline-block;
        padding-left: 11.2%;
    }
    .article2 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 68px;
        padding-left: 11.2%;
        padding-bottom: 20px;
    }
    .article2 > dl > dd{
        width: 80%;
        height: 131px;
        overflow: hidden;
    }
    .article2 > dl > dd > h4{
        display: none;
    }
    .article2 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-left: 11.2%;
        font-weight: normal;
        line-height: 27px;
    }


    /* section3 */

    #section3{
        padding-top: 171px;
    }
    #section3 > h2{
        font-size: 28px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 50px;
        width: 260px;
    }
    .article3 > .imgs{
        width: 300px;
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
    }
    .phoneGirl{
        padding-top: 24px;
        padding-left: 30%;
        display: flex;
    }
    .phoneGirl > .plants{
        /* transform: translate(200px,-119.27px); */
        width: 130.19px;
        height: 119.27px;
        padding-top: 146px;
    }
    .article3 > dl{
        padding-left: 11.2%;
    }
    .article3 > dl > dt{
        padding-left: 11.2%;
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 68px;
        padding-bottom: 20px;
    }
    .article3 > dl > dd{
        width: 310px;
        height: 131px;
        width: 70%;
        padding-left: 11.2%;
    }
    .article3 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 27px;
    }

    /* section4 */

    #section4{
        padding-top: 100px;
        text-align: center;
        padding-bottom: 140px;
    }
    .article4 > img{
        padding-bottom: 21px;
    }
    .article4 > h2{
        font-size: 16px;
        padding-bottom: 36px;
    }

    .video{
        width: 100%;
        height: 219px;
        background-color: hotpink;
    }

    /* section5 */

    #Template-2{
        display: none;
    }
    .markup-img{
        position: relative; left: 11.2%;
        width: 229px;
        height: 482.44px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img >.Question-img{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img > .Question-img > img{
        position: relative; width: 100%;
    }
    .markup-img2{
        position: relative; left: 20.8%;
        width: 165.72px;
        height: 349.12px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(20px, 100px);
        
    }
    .phones{
        display: flex;
    }
    .markup-img2 >.Question-img2{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img2 > .Question-img2 > img{
        position: relative; width: 100%;
    }
    .article5{
        overflow: visible;
        padding-top: 112px;
    }
    .article5 > dl{
        padding-left: 11.2%;
    }
    .article5 > dl > dt{
        font-size: 22px;
        font-family: 'GmarketSansMedium';
        padding-top: 68px;
        padding-left: 11.2%;
        padding-bottom: 20px;
        line-height: 38px;
    }
    .article5 > dl > dd{
        width: 310px;
        height: 131px;
        padding-left: 11.2%;
    }
    .article5 > dl > dd > p {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 27px;
    }
    #section5> .section5_1 >h2{
        font-size: 28px;
        font-family: 'GmarketSansMedium';
        line-height: 51px;
        padding-left: 11.2%;
        padding-bottom: 86px;
    }
    .section5_1 > img{
        position: absolute;
        margin-left: 400px;
        top: -60px;
        width: 50%;
    }
    .section5_1{
        position: relative;
        overflow:visible;
    }
}

/* 700까지 */
@media screen and (min-width : 700px) and (max-width : 999px){
    *{
        color: #263C3C;
        font-size: 18px;
    }
    header > h1{
        width: 132.61px;
        padding-top: 63px;
        padding-left: 11.1612%;
    }
    nav > ul{
        display: none;
    }

    /* section1 */


    #section1 > p{
        font-size: 14px;
        font-family: 'GmarketSansLight';
        line-height: 27px;
        padding-left: 4.19354%;
        /* transform: translate(0, 751px); */
        position: relative;
        top: 580px;
    }

    .article1{
        text-align: center;
    }
    .article1 > h1{
       padding-top: 122px;
    }
    .article1 > h2{
        font-size: 24px;
        font-family: 'GmarketSansMedium';
        padding-top: 48px;
        /* overflow: hidden; */
    }
    .article1 > img{
        padding-top: 32px;
        /* width: 20%; */
        animation: bluehairgirl infinite linear 5s ;
    }
    .article1 > .cha_shadow{
        width: 119px;
        height: 11px;
        border-radius: 1000%;
        background-color: #DDDDDD;
        margin: 0 auto;
    }
    span{
        color: #2BCBCA;
    }

    /* section2 */

    .article2{
        padding-top: 100px;
        flex-wrap: wrap;
        display: flex;
        overflow: hidden;
    }
    #section2 > h2{
        font-family: 'GmarketSansMedium';
        font-size: 50px;
        line-height: 70px;
        padding-left: 11.1612%;
        padding-top: 234px;
    }
    .article2Div{
        padding-left: 10%;
    }

    .building{
        width: 50%;
        padding-left: 4.193%;
        padding-top: 10%;
        position: absolute;
    }
    .childu{
        width: 522.51px;
        position: relative;
        padding-left: 30%;
        width: 80%;
    }
    .article2 > dl{
        margin: 0 auto;
        display: inline-block;
        margin-top: 8%;
    }
    .article2 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        padding-top: 85px;
    }
    .article2 > dl > dd > h4{
        font-size: 20px;
        font-family: 'GmarketSansMedium';
        padding-top: 30px;
    }
    .article2 > dl > dd > p{
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        line-height: 43px;
        width: 440px;
        padding-top: 30px;
    }


    /* section3 */
    #section3 > h2{
        font-size: 50px;
        font-family: 'GmarketSansMedium';
        padding-top: 577px;
        /* overflow: hidden; */
        padding-left: 11.2%;
        width: 440px;
        line-height: 70px;
    }
    .article3{
        padding-top: 100px;
        flex-wrap: wrap;
        display: flex;
    }
    .imgs{
        vertical-align: middle;
        width: 40%;
        margin: 0 auto;
    }
    .imgs > img{
        width: 100%;
        text-align: center;
    }
    .phoneGirl > img{
        padding-top: 10%;
        width: 60%;
    }
    .phoneGirl{
        padding-left: 11.16129%;
        /* width: 52.2%; */
    }
    .phoneGirl > .plants{
        width: 20%;
        transform: translate(50px, 0);
    }
    .article3 > dl {
        overflow-x: hidden;
        position: relative;
        right: unset;
        /* left: 45%; */
        margin: 0 auto;
        padding-top: 85px;
    }
    .article3 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        padding-right: 0%;
        /* width: 400px; */
        line-height: 63px;
    }
    .article3 > dl > dd > p{
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        line-height: 43px;
        width: 440px;
        padding-top: 30px;
        margin: 0;
    }

    /* section4 */

    #section4{
        text-align: center;
    }
    .article4 > img{
        padding-top: 368px;
        width: 249.42px;
    }
    .article4 > h2 {
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        padding-top: 43px;
    }
    .video{
        width: 100%;
        height: 872px;
        background-color: hotpink;
        margin-top: 130px;
    }

    /* section5 */
    .section5_1{
        width:100%;
        position: relative;
    }

    .section5_1 > h2{
        font-size: 50px;
        line-height: 83px;
        font-family: 'GmarketSansMedium';
        padding-left: 11.2%;
        padding-top: 472px;
    }
    .section5_1 > img{
        width: 50%;
        top:10%;
        position: absolute;
        left: 60%;
        
    }
    #Template-2{
        display: none;
    }
    .markup-img{
        position: relative; left: 11.2%;
        width: 301px;
        height: 634.12px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img >.Question-img{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img > .Question-img > img{
        position: relative; width: 100%;
    }
    .markup-img2{
        margin-top: 97px;
        position: relative; left: 20.8%;
        width: 217.99px;
        height: 459.25px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img2 >.Question-img2{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img2 > .Question-img2 > img{
        position: relative; width: 100%;
    }
    .phones{
        display: flex;
        position: relative;
        padding-top: 85px;
    }
    .article5 > dl{
        padding-top: 10%;
        position: absolute;
        right: 11.1612%;
    }
    .article5 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        line-height: 63px;

    }
    .article5 > dl > dd > p{
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-top: 50px;
        width: 345px;
        line-height: 36px;
    }
}

/* 칠두를 위해 */


@media screen and (min-width : 1366px) and (max-width : 1445px){
    *{
        color: #263C3C;
        font-size: 18px;
    }
    header > h1{
        width: 132.61px;
        padding-top: 63px;
        padding-left: 11.1612%;
    }
    nav > ul{
        display: none;
    }

    /* section1 */


    #section1 > p{
        font-size: 14px;
        font-family: 'GmarketSansLight';
        line-height: 27px;
        padding-left: 4.19354%;
        /* transform: translate(0, 751px); */
        position: relative;
        top: 580px;
    }

    .article1{
        text-align: center;
    }
    .article1 > h1{
       padding-top: 122px;
    }
    .article1 > h2{
        font-size: 24px;
        font-family: 'GmarketSansMedium';
        padding-top: 48px;
        /* overflow: hidden; */
    }
    .article1 > img{
        padding-top: 32px;
        width: 20%;
        animation: bluehairgirl infinite linear 5s ;
    }
    .article1 > .cha_shadow{
        width: 119px;
        height: 11px;
        border-radius: 1000%;
        background-color: #DDDDDD;
        margin: 0 auto;

    }
    span{
        color: #2BCBCA;
    }

    /* section2 */

    .article2{
        padding-top: 233px;
        flex-wrap: wrap;
        display: flex;
    }
    #section2 > h2{
        font-family: 'GmarketSansMedium';
        font-size: 50px;
        line-height: 81px;
        padding-left: 11.1612%;
        padding-top: 234px;
    }
    .article2Div{
        padding-left: 10%;
    }

    .building{
        width: 481px;
        padding-left: 4.193%;
        padding-top: 200px;
        position: absolute;
    }
    .childu{
        width: 522.51px;
        position: relative;
        padding-left: 274px;
    }
    .article2 > dl{
        margin-left: 60%;
        display: inline-block;
        margin-top: 8%;
    }
    .article2 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        padding-top: 85px;
    }
    .article2 > dl > dd > h4{
        font-size: 20px;
        font-family: 'GmarketSansMedium';
        padding-top: 54px;
    }
    .article2 > dl > dd > p{
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        line-height: 43px;
        width: 440px;
        padding-top: 45px;
    }

    /* section3 */
    #section3 > h2{
        font-size: 50px;
        font-family: 'GmarketSansMedium';
        padding-top: 577px;
        /* overflow: hidden; */
        padding-left: 11.2%;
    }
    .article3{
        padding-top: 254px;
        flex-wrap: wrap;
        display: flex;
    }
    .imgs{
        vertical-align: middle;
        width: 26.70%;
        position: absolute;
        right: 21.4193%;
    }
    .imgs > img{
        width: 413.47px;
        text-align: center;
    }
    .phoneGirl > img{
        width: 522.19px;
    }
    .phoneGirl{
        padding-left: 11.16129%;
        /* width: 52.2%; */
    }
    .phoneGirl > .plants{
        width: 225.22px;
        transform: translate(-100px, 0);
    }
    .article3 > dl {
        overflow-x: hidden;
        position: relative;
        right: unset;
        /* left: 45%; */
        margin-left: 54.51612%;
        margin-top: 8%;
    }
    .article3 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        /* padding-right: 30%; */
        line-height: 63px;
    }
    .article3 > dl > dd > p{
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        line-height: 43px;
        width: 440px;
        padding-top: 45px;
    }

    /* section4 */

    #section4{
        text-align: center;
    }
    .article4 > img{
        padding-top: 368px;
        width: 249.42px;
    }
    .article4 > h2 {
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        padding-top: 43px;
    }
    .video{
        width: 100%;
        height: 872px;
        background-color: hotpink;
        margin-top: 130px;
    }

    /* section5 */

    .section5_1 > h2{
        font-size: 50px;
        line-height: 83px;
        font-family: 'GmarketSansMedium';
        padding-left: 11.2%;
        padding-top: 472px;
    }
    .section5_1 > img{
        width: 445.98px;
        position: relative;
        left: 50%;
    }
    #Template-2{
        display: none;
    }
    .markup-img{
        position: relative; left: 11.2%;
        width: 301px;
        height: 634.12px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img >.Question-img{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img > .Question-img > img{
        position: relative; width: 100%;
    }
    .markup-img2{
        margin-top: 97px;
        position: relative; left: 20.8%;
        width: 217.99px;
        height: 459.25px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img2 >.Question-img2{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img2 > .Question-img2 > img{
        position: relative; width: 100%;
    }
    .phones{
        display: flex;
        position: relative;
    }
    .article5 > dl{
        position: absolute;
        right: 11.1612%;
    }
    .article5 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        line-height: 63px;

    }
    .article5 > dl > dd > p{
        font-size: 18px;
        font-family: 'GmarketSansMedium';
        padding-top: 50px;
        width: 345px;
        line-height: 36px;
    }
}


/* 어떤 기록을 하고 싶나요? */


@media screen and (min-width : 1000px) and (max-width : 1365px){
    *{
        color: #263C3C;
        font-size: 18px;
    }
    header > h1{
        width: 132.61px;
        padding-top: 63px;
        padding-left: 11.1612%;
    }
    nav > ul{
        display: none;
    }

    /* section1 */


    #section1 > p{
        font-size: 14px;
        font-family: 'GmarketSansLight';
        line-height: 27px;
        padding-left: 4.19354%;
        /* transform: translate(0, 751px); */
        position: relative;
        top: 580px;
    }

    .article1{
        text-align: center;
    }
    .article1 > h1{
       padding-top: 122px;
    }
    .article1 > h2{
        font-size: 24px;
        font-family: 'GmarketSansMedium';
        padding-top: 48px;
        /* overflow: hidden; */
    }
    .article1 > img{
        padding-top: 32px;
        width: 20%;
        animation: bluehairgirl infinite linear 5s ;
    }
    .article1 > .cha_shadow{
        width: 119px;
        height: 11px;
        border-radius: 1000%;
        background-color: #DDDDDD;
        margin: 0 auto;

    }
    span{
        color: #2BCBCA;
    }

    /* section2 */

    .article2{
        padding-top: 130px;
        flex-wrap: wrap;
        display: flex;
    }
    #section2 > h2{
        font-family: 'GmarketSansMedium';
        font-size: 50px;
        line-height: 81px;
        padding-left: 11.1612%;
        padding-top: 234px;
    }
    .article2Div{
        padding-left: 10%;
    }

    .building{
        width: 481px;
        padding-left: 4.193%;
        padding-top: 200px;
        position: absolute;
    }
    .childu{
        width: 522.51px;
        position: relative;
        padding-left: 274px;
    }
    .article2 > dl{
        margin-left: 50%;
        display: inline-block;
        margin-top: 8%;
    }
    .article2 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        padding-top: 85px;
    }
    .article2 > dl > dd > h4{
        font-size: 20px;
        font-family: 'GmarketSansMedium';
        padding-top: 54px;
    }
    .article2 > dl > dd > p{
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        line-height: 43px;
        width: 440px;
        padding-top: 45px;
    }


    /* section3 */
    #section3 > h2{
        font-size: 50px;
        font-family: 'GmarketSansMedium';
        padding-top: 400px;
        /* overflow: hidden; */
        padding-left: 11.2%;
    }
    .article3{
        padding-top: 150px;
        flex-wrap: wrap;
        display: flex;
    }
    .imgs{
        vertical-align: middle;
        width: 26.70%;
        position: absolute;
        right: 21.4193%;
    }
    .imgs > img{
        width: 413.47px;
        text-align: center;
    }
    .phoneGirl > img{
        width: 522.19px;
    }
    .phoneGirl{
        padding-left: 11.16129%;
        /* width: 52.2%; */
    }
    .phoneGirl > .plants{
        width: 225.22px;
        transform: translate(-100px, 0);
    }
    .article3 > dl {
        overflow-x: hidden;
        position: relative;
        right: unset;
        /* left: 45%; */
        margin-left: 54.51612%;
        margin-top: 10%;
    }
    .article3 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        padding-right: 0%;
        width: 400px;
        line-height: 63px;
    }
    .article3 > dl > dd > p{
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        line-height: 43px;
        width: 440px;
        padding-top: 45px;
    }

    /* section4 */

    #section4{
        text-align: center;
    }
    .article4 > img{
        padding-top: 368px;
        width: 249.42px;
    }
    .article4 > h2 {
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        padding-top: 43px;
    }
    .video{
        width: 100%;
        height: 872px;
        background-color: hotpink;
        margin-top: 130px;
    }

    /* section5 */

    .section5_1 > h2{
        font-size: 50px;
        line-height: 83px;
        font-family: 'GmarketSansMedium';
        padding-left: 11.2%;
        padding-top: 300px;
    }
    .section5_1 > img{
        width: 445.98px;
        position: relative;
        left: 50%;
    }
    #Template-2{
        display: none;
    }
    .markup-img{
        position: relative; left: 11.2%;
        width: 301px;
        height: 634.12px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img >.Question-img{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img > .Question-img > img{
        position: relative; width: 100%;
    }
    .markup-img2{
        margin-top: 97px;
        position: relative; left: 20.8%;
        width: 217.99px;
        height: 459.25px;
        border-radius: 30px;
        background-color: white;
        border: 1px solid #DBDBDB;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .markup-img2 >.Question-img2{
        border-radius: 30px;
        width: 94%;
        overflow: hidden;
        
    }
    .markup-img2 > .Question-img2 > img{
        position: relative; width: 100%;
    }
    .phones{
        display: flex;
        position: relative;
    }
    .article5 > dl{
        position: absolute;
        right: 11.1612%;
    }
    .article5 > dl > dt{
        font-size: 40px;
        font-family: 'GmarketSansMedium';
        line-height: 63px;

    }
    .article5 > dl > dd > p{
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        padding-top: 50px;
        width: 345px;
        line-height: 36px;
    }
}
/* 1550px 시작 */

@media screen and (min-width : 1446px) and (max-width: 1550px)

    /* @media screen and (max-width: 700px) */
    {
        *{
            color: #263C3C;
            font-size: 18px;
        }
        header > h1{
            width: 132.61px;
            padding-top: 63px;
            padding-left: 11.1612%;
        }
        nav > ul{
            display: none;
        }

        /* section1 */


        #section1 > p{
            font-size: 14px;
            font-family: 'GmarketSansLight';
            line-height: 27px;
            padding-left: 4.19354%;
            /* transform: translate(0, 751px); */
            position: relative;
            top: 580px;
        }

        .article1{
            text-align: center;
        }
        .article1 > h1{
           padding-top: 122px;
        }
        .article1 > h2{
            font-size: 24px;
            font-family: 'GmarketSansMedium';
            padding-top: 48px;
            /* overflow: hidden; */
        }
        .article1 > img{
            padding-top: 32px;
            width: 20%;
            animation: bluehairgirl infinite linear 5s ;
        }
        .article1 > .cha_shadow{
            width: 119px;
            height: 11px;
            border-radius: 1000%;
            background-color: #DDDDDD;
            margin: 0 auto;

        }
        span{
            color: #2BCBCA;
        }

        /* section2 */

        .article2{
            padding-top: 233px;
            flex-wrap: wrap;
            display: flex;
        }
        #section2 > h2{
            font-family: 'GmarketSansMedium';
            font-size: 50px;
            line-height: 81px;
            padding-left: 11.1612%;
            padding-top: 234px;
        }
        /* .article2Div{
            overflow: hidden;
        } */

        .building{
            width: 481px;
            padding-left: 4.193%;
            padding-top: 200px;
            position: absolute;
        }
        .childu{
            width: 522.51px;
            position: relative;
            padding-left: 274px;
        }
        .article2 > dl{
            margin-left: 9.225%;
            display: inline-block;
        }
        .article2 > dl > dt{
            font-size: 40px;
            font-family: 'GmarketSansMedium';
            padding-top: 85px;
        }
        .article2 > dl > dd > h4{
            font-size: 20px;
            font-family: 'GmarketSansMedium';
            padding-top: 54px;
        }
        .article2 > dl > dd > p{
            font-size: 18px;
            font-family: 'Noto Sans KR', sans-serif;
            line-height: 43px;
            width: 440px;
            padding-top: 45px;
        }

        /* section3 */
        #section3 > h2{
            font-size: 50px;
            font-family: 'GmarketSansMedium';
            padding-top: 577px;
            /* overflow: hidden; */
            padding-left: 11.2%;
        }
        .article3{
            padding-top: 254px;
            flex-wrap: wrap;
            display: flex;
        }
        .imgs{
            vertical-align: middle;
            width: 26.70%;
            position: absolute;
            right: 21.4193%;
        }
        .imgs > img{
            width: 413.47px;
            text-align: center;
        }
        .phoneGirl > img{
            width: 522.19px;
        }
        .phoneGirl{
            padding-left: 11.16129%;
            /* width: 52.2%; */
        }
        .phoneGirl > .plants{
            width: 225.22px;
            transform: translate(-100px, 0);
        }
        .article3 > dl {
            position: relative;
            right: 6%;
            margin-top: 415px;
        }
        .article3 > dl > dt{
            font-size: 40px;
            font-family: 'GmarketSansMedium';
        }
        .article3 > dl > dd > p{
            font-size: 18px;
            font-family: 'Noto Sans KR', sans-serif;
            line-height: 43px;
            width: 440px;
            padding-top: 45px;
        }

        /* section4 */

        #section4{
            text-align: center;
        }
        .article4 > img{
            padding-top: 368px;
            width: 249.42px;
        }
        .article4 > h2 {
            font-size: 40px;
            font-family: 'GmarketSansMedium';
            padding-top: 43px;
        }
        .video{
            width: 100%;
            height: 872px;
            background-color: hotpink;
            margin-top: 130px;
        }

        /* section5 */

        .section5_1 > h2{
            font-size: 50px;
            line-height: 83px;
            font-family: 'GmarketSansMedium';
            padding-left: 11.2%;
            padding-top: 472px;
        }
        .section5_1 > img{
            width: 445.98px;
            position: relative;
            left: 60%;
        }
        #Template-2{
            display: none;
        }
        .markup-img{
            position: relative; left: 11.2%;
            width: 301px;
            height: 634.12px;
            border-radius: 30px;
            background-color: white;
            border: 1px solid #DBDBDB;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .markup-img >.Question-img{
            border-radius: 30px;
            width: 94%;
            overflow: hidden;
            
        }
        .markup-img > .Question-img > img{
            position: relative; width: 100%;
        }
        .markup-img2{
            margin-top: 97px;
            position: relative; left: 20.8%;
            width: 217.99px;
            height: 459.25px;
            border-radius: 30px;
            background-color: white;
            border: 1px solid #DBDBDB;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .markup-img2 >.Question-img2{
            border-radius: 30px;
            width: 94%;
            overflow: hidden;
            
        }
        .markup-img2 > .Question-img2 > img{
            position: relative; width: 100%;
        }
        .phones{
            display: flex;
            position: relative;
        }
        .article5 > dl{
            position: absolute;
            right: 11.1612%;
        }
        .article5 > dl > dt{
            font-size: 40px;
            font-family: 'GmarketSansMedium';
            line-height: 63px;

        }
        .article5 > dl > dd > p{
            font-size: 18px;
            font-family: 'GmarketSansMedium';
            padding-top: 50px;
            width: 345px;
            line-height: 36px;
        }
    }
